
<div class="container mt-5">
  
  <div class="row mt-5">
    <div class="col text-center">
      <h1 style="font-size:400%;"> ADD A PINCH!</h1>
      <p class="heart" style="font-size:100%;">Recipies for newly formed families in AIT</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <img src="http://www.anourishingplate.com/wp-content/uploads/2019/10/pinch-of-salt.jpg" width="400" 
     height="500" class="img-fluid home-page-img" alt="recipe-book-image">
    </div>
  </div>
  
    <div class="row mt-6">
    <div class="col text-center">
      <p class="heart" style="font-size:70%;">Created By Somesh Rao Coka Group: Web 08</p>
    </div>
  
</div>
